.navigation__btn {
    box-sizing: border-box;
}

.navigation__btn-color {
    background-color: $white;
    border: 1px solid $spanish-gray;
    height: 35px;
    font-family: $pt-mono;
    color: $spanish-gray;
    &:hover {
        border: 1px solid $black;
        color: $black;
    }
}

.navigation__btn__color-verde {
    background-color: $shiny-shamrock;
    color: $white;
    height: 35px;
    border: 1px solid $shiny-shamrock;
    font-family: $pt-mono;
    &:hover {
        background-color: $turquoise-green;
        color: $black;
        border: 1px solid $turquoise-green;
    }
}