.navigation__btn-color {
    background-color: $white;
    border: 1px solid $spanish-gray;
    height: 30px;
    font-family: $pt-mono;
    color: $pt-mono;
}

.navigation__btn__color-verde {
    background-color: $shiny-shamrock;
    color: $white;
    height: 30px;
    border: 1px solid $shiny-shamrock;
    font-family: $pt-mono;
}