//primer esquema de colores
$white: #fff;
$isabelline: #eeeded;
$spanish-gray: #989797;
//segundo esquema de colores
$coral: #fa824c;
$buff: #f1dd7b;
$vanilla: #f5e7a1;
//tercer esquema de colores
$flame: #e4572e;
$light-red-ochre: #e87554;
$pastel-pink: #f2b2a0;
//cuarto esquema de colores
$shiny-shamrock: #4ca866;
$turquoise-green: #9dcfab;
$pastel-gray: #bddfc7;
//quinto esquema de colores
$blue-de-france: #3c91e6;
$blue-jeans: #5fa5ea;
$jordy-blue: #82b9ef;
//sexto esquema de colores
$black: #000000;
$outer-space: #454545;
$quick-silver: #a2a2a2;
//tipografia
$pt-mono: 'PT Mono',
monospace;
$roboto: 'Roboto',
sans-serif;
//peso fuentes
$light: 300;
$regular: 400;
//tamaño fuentes
$xxx-large: 70px;
$xx-large: 40px;
$x-large: 30px;
$large: 18px;
$medium: 16px;