.navigation {
    height: 50px;
    margin-left: 20px;
    margin-right: 20px;
    vertical-align: baseline;
    &__logo-image {
        height: 50px;
        float: left;
        margin-right: 30px;
    }
    &__ul {
        list-style: none;
    }
    &__item-list {
        margin-right: 30px;
        float: left;
        color: $spanish-gray;
        margin-top: 10px;
    }
    &__btn {
        float: right;
        margin-right: 30px;
    }
}